<div>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />

  <div id="calendar-wrapper">
    <header>
      <div id="date-container">
        <h1 *ngIf="this.date">
          {{ this.date.weekday.day }}
        </h1>
        <h3 class="full-date" *ngIf="this.date">
          {{ this.date.month.month }}
          {{ this.date.day }},
          {{ this.date.year }}
        </h3>
        <h3 class="short-date">{{ shortDate }}</h3>
      </div>
      <div id="arrows">
        <button (click)="backArrowClicked()">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button (click)="nextArrowClicked()">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </header>
  </div>
</div>
