<nav>
  <a routerLink="/sign-in" routerLinkActive="active">Sign In</a>
</nav>
<form ngNativeValidate>
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" [(ngModel)]="user.name" required />
  </div>

  <div>
    <label for="user">User:</label>
    <input type="text" name="user" [(ngModel)]="user.username" required />
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="text" name="email" [(ngModel)]="user.email" required />
  </div>

  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      name="password"
      pattern="^[\S]+.*[\S]+$"
      [(ngModel)]="user.password"
      required
    />
  </div>
  <div class="errorMessageContainer" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>

  <button type="submit" (click)="signUp()" [disabled]="loading">Sign Up</button>
</form>
