<div id="signUpBox">
  <form>
    <div>
      <div id="signUpSheet">
        <h1>Sign Up</h1>
        <div id="inputFields">
          <input
            type="text"
            name="email"
            placeholder="E-mail"
            [(ngModel)]="user.email"
          />
          <input
            type="text"
            name="name"
            placeholder="Name"
            [(ngModel)]="user.name"
          />
          <input
            type="text"
            placeholder="username"
            name="user"
            [(ngModel)]="user.username"
          />

          <input
            type="password"
            name="password"
            placeholder="Password"
            [(ngModel)]="user.password"
          />

          <button type="button" (click)="signUp()" [disabled]="loading">
            Submit
          </button>
        </div>

        <nav>
          <p>Already A member?</p>
          <a routerLink="/sign-in" routerLinkActive="active">Sign In</a>
        </nav>
      </div>
    </div>
  </form>
</div>
