<div class="container">
  <form>
    <div class="field" tabindex="1">
      <label for="title"> <i class="far fa-user"></i>Title </label>
      <input name="title" type="text" placeholder="Add Title" required />
    </div>
    <div class="field" tabindex="2">
      <label for="date"> <i class="far fa-envelope"></i>Date </label>
      <input name="date" type="date" required />
    </div>
    <div class="field" tabindex="3">
      <label for="time"> <i class="far fa-envelope"></i>Time </label>
      <input name="time" type="time" required />
    </div>
    <div class="field" tabindex="4">
      <label for="desciption"> <i class="far fa-edit"></i>Description </label>
      <textarea
        name="desciption"
        placeholder="Type details for this new meeting"
        required
      ></textarea>
    </div>
    <button type="reset">Send Me Message</button>
  </form>
</div>
