<div id="signInBox">
  <form>
    <h1>Sign In</h1>
    <div id="inputFields">
      <input
        type="text"
        name="user"
        placeholder="UserName"
        [(ngModel)]="user.username"
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="user.password"
      />
    </div>

    <div id="buttonContainer">
      <button type="button" (click)="signIn()" [disabled]="loading">
        Login
      </button>
    </div>
    <nav>
      <p>Don't have an account?</p>
      <a routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
    </nav>
  </form>
</div>
