nav {
  justify-content: flex-end;
  display: flex;
  max-height: 5vh;
}
button {
  border-radius: 0.3em;
  padding: 1vh;
  background-color: #b8e3df;
  font-size: 2vh;
  border: 1px solid #b8e3df;
  cursor: pointer;
  align-items: center;
}
