<nav>
  <select (change)="setView($event)">
    <option selected>{{ view }}</option>
    <ng-container *ngFor="let calendarView of calendarViews">
      <option *ngIf="calendarView !== view">
        {{ calendarView }}
      </option>
    </ng-container>
  </select>
  <button routerLink="" (click)="signOut()">Sign Out</button>
</nav>
<div>
  <app-month-view
    *ngIf="view === CalendarView.MONTH_VIEW"
    (dateSelected)="onDateSelected($event)"
  ></app-month-view>
  <app-week-view *ngIf="view === CalendarView.WEEK_VIEW"></app-week-view>
  <app-day-view
    *ngIf="view === CalendarView.DAY_VIEW"
    [date]="dateSelected"
  ></app-day-view>
</div>
