<nav>
  <button class="buttonContainer" routerLink="" (click)="signOut()">
    Sign Out
  </button>
</nav>
<div>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />

  <div class="calendar-wrapper">
    <header>
      <div class="arrows-left">
        <button (click)="backArrowClicked()">
          <mat-icon>navigate_before</mat-icon>
        </button>
      </div>
      <h1>{{ this.monthData.month }} {{ year }}</h1>
      <div class="arrows-right">
        <button (click)="nextArrowClicked()">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </header>

    <ul class="weekdays">
      <li *ngFor="let weekDay of weekdays" class="day-name">
        <abbr title="{{ weekDay.day.charAt(0) }}">{{ weekDay.day }}</abbr>
      </li>
    </ul>
    <ol class="day-grid">
      <li
        *ngFor="let day of this.monthData.daysArray"
        routerLink="../schedule-day"
      >
        {{ day }}
      </li>
    </ol>
  </div>
</div>
